/.phpunit.cache
/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor

.env
.env.*
!.env.example
!.env.hostinger.example

database/*.sqlite
database/*.sqlite-*
database/database.sqlite

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.idea
.vscode

/an test
/from GITHUB - Manual download/
/deployment/release/*.zip

